<footer class="footer">
    <div class="footer_container container">
            <a href="./" class="footer_logo">
               <img src="./images/logo.png" alt="logo">
            </a>

            <a href="mailto:contact@smm-click.com" class="footer_link-mail">contact@smm-click.com</a>

            <ul class="footer_links">
                
                <li class="footer_links-item">
                    <a href="https://www.instagram.com/smmclick/" target="_blank">
                       <!-- <div class="icon_telegram"></div> -->
                       <img src="./images/icon-instagram.png" alt="Instagram">
                    </a>
                 </li>
                 <li class="footer_links-item">
                    <a href="https://vk.com/club_smmclick" target="_blank">
                       <!-- <div class="icon_vk"></div> -->
                    <img src="./images/icon-vk.png" alt="VK">
                    </a>
                 </li>
                 <li class="footer_links-item">
                    <a href="https://www.facebook.com/groups/smmclick/" target="_blank">
                       <!-- <div class="icon_facebook"></div> -->
                    <img src="./images/icon-facebook.png" alt="facebook">
                    </a>
                 </li>
            </ul>
    
            <div class="footer_contacts">
                <a href="tel:+7(919)812-71-74">+7 (919) 812-71-74</a>
                <a href="#modal_recall" data-fancybox="" data-touch="false" class="order_recall">Заказать звонок</a>
            </div>
    </div>
</footer>
