<footer class="footer">
    <div class="footer_container container">
            <a href="#" class="footer_logo">
                <img src="./images/logo.png" alt="Logo">
            </a>

            <a href="mailto:contact@smm-click.com" class="footer_link-mail">contact@smm-click.com</a>

            <ul class="footer_links">
                <li class="footer_links-item">
                  <a href="#">
                    <img src="./images/icon-instagram.png" alt="Instagram">
                  </a>
                </li>
                <li class="footer_links-item">
                  <a href="#">
                    <img src="./images/icon-vk.png" alt="VK">
                  </a>
                </li>
                <li class="footer_links-item">
                  <a href="#">
                    <img src="./images/icon-facebook.png" alt="facebook">
                  </a>
                </li>
            </ul>
    
            <div class="footer_contacts">
                <a href="tel:+7(919)812-71-74">+7 (919) 812-71-74</a>
                <a href="#" class="order_recall">Заказать звонок</a>
            </div>
    </div>
</footer>

@@include('../components/modals/rocket.html')
@@include('../components/modals/modal-info.html')
@@include('../components/modals/modal-case.html')
@@include('../components/modals/modal-time.html')
  
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.6.2/plyr.polyfilled.min.js" integrity="sha512-7kq7qBtasB6e1rth7fGAVQI6HvobtSHWKqIjsEr+21l2spvu8ZRXvRukXPTEPrExSDXpUHI5FH6xlgGZNNCgeQ==" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.10/jquery.lazy.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


<script src="{{var_path_env}}js/scripts.js"></script>
</body>
</html>
