<section class="application js_application">

   <img data-src="./images/application/money1.png" class="bg_money1 lazy" alt="money">
   <img data-src="./images/application/money2.png" class="bg_money2 lazy" alt="money">
   <img data-src="./images/application/money3.png" class="bg_money3 lazy" alt="money">

    <div class="application_container container">
       <h2>
          Оставьте заявку сейчас <br>
          и получите бесплатный аудит бизнеса в Интернете <br>
          <span>
          + 5 рекомендаций по улучшению аккаунтов
          </span>
       </h2>
       <div class="application_steps js_application_steps">
          <div class="application_steps-top">
             <div class="application_step js_application-step--1">
                <img data-src="./images/application/loop.png" class="lazy " alt="Loop">
                <p>
                   Мы анализируем все каналы <br>
                   в Интернете, по которым <br>
                   к Вам попадает клиент
                </p>
             </div>
             <img data-src="./images/application/arrow_1.png" class="arrow_1 lazy" alt="arrow">
             <div class="application_step  js_application-step--2">
                <img data-src="./images/application/graf.png" class="lazy" alt="graf">
                <p>
                   Мы используем специальные сервисы, <br>
                   которые позволяют отследить Ваш трафик. <br>
                   Делаем прогноз, как его можно увеличить <br>
                   и сделать более конверсионным
                </p>
             </div>
          </div>
          <div class="application_steps-bottom">
             <div class="application_step js_application-step--3">
                <img data-src="./images/application/mich.png" class="lazy" alt="mich">
                <p>
                   Вы получаете полное представление <br>
                   о том, как Вас могут/не могут найти клиенты <br>
                   в Интернете <span>
                   +5 рекомендаций по улучшению <br>
                   Ваших аккаунтов
                   </span>
                </p>
             </div>
             <img data-src="./images/application/arrow_2.png" class="arrow_2 lazy" alt="arrow">
          </div>
       </div>

       <form class="application_form">
        <div class="application_form-top">
            <div class="form-validate">
                <label for="name"></label>
                <input type="text" name="name" id="name" minlength="3" required placeholder="Ваше имя">
            </div>
            <div class="form-validate">
                <label for="tel"></label>
                <input type="tel" name="tel" id="tel" required placeholder="Ваш номер телефона" data-mask="+0 (000) 000 00 00">
            </div>
            <div class="form-validate">
                <label for="email"></label>
                <input type="email" name="email" required id="email"  placeholder="Ваше E-mail">
            </div>
        </div>
        <div class="application_form-bottom">
            <button type="button" class="btn">
                <span>
                  Получить аудит
                </span>
            </button>

            <p>
                Нажимая на кнопку, вы принимаете <a href="#modal_info" data-fancybox="" data-touch="false">
                    Положение и Согласие на обработку персональных данных
                </a>
            </p>
        </div>
       </form>
    </div>
    
 </section>