<section class="cases">

    <img data-src="./images/cases/money1.png" class="bg_money1 lazy" alt="money">
    <img data-src="./images/cases/money2.png" class="bg_money2 lazy" alt="money">


    <div class="cases_container container">
        <h2>
            Кейсы
        </h2>
 
        <div class="cases_blocks">
            <div class="cases_block">
                <img data-src="./images/cases/img_1.jpeg" class="lazy" alt="Image">

                <a  href="#" target="_blank" class="cases_block-link">
                    <img data-src="./images/icon-vk.png" class="lazy"  alt="Icon Vk">

                    <p>
                        Умная логистика

                    </p>
                </a>

                <p>
                    Создание и администрирование
                    сообщества. Контент.
                </p>
            </div>
            <div class="cases_block">
                <img data-src="./images/cases/img_1.jpeg" class="lazy" alt="Image">

                <a  href="#" target="_blank" class="cases_block-link">
                    <img data-src="./images/icon-vk.png" class="lazy"  alt="Icon Vk">

                    <p>
                        Умная логистика
                    </p>
                </a>

                <p>
                    Создание и администрирование
                    сообщества. Контент.
                </p>
            </div>
            <div class="cases_block">
                <img data-src="./images/cases/img_1.jpeg" class="lazy" alt="Image">

                <a  href="#" target="_blank" class="cases_block-link">
                    <img data-src="./images/icon-vk.png" class="lazy"  alt="Icon Vk">

                    <p>
                        Умная логистика

                    </p>
                </a>

                <p>
                    Создание и администрирование
                    сообщества. Контент.
                </p>
            </div>
            <div class="cases_block">
                <img data-src="./images/cases/img_1.jpeg" class="lazy" alt="Image">

                <a  href="#" target="_blank" class="cases_block-link">
                    <img data-src="./images/icon-vk.png"  class="lazy"  alt="Icon Vk">

                    <p>
                        Умная логистика
                    </p>
                </a>

                <p>
                    Создание и администрирование
                    сообщества. Контент.
                </p>
            </div>
        </div>


        <a class="btn" href="#modal_case" data-fancybox="" data-touch="false">
            Больше кейсов
        </a>
    </div>
</section>
