<section class="compaines">
    <div class="compaines_container container">
        <h2>
            Компании, с которыми мы работаем
        </h2>

        <div class="compaines_slider js_companies_slider">
            <a href="#" target="_blank">
                <img data-lazy="./images/compaines/img_1.png" alt="compaines">
            </a>
            <a href="#" target="_blank">
                <img data-lazy="./images/compaines/img_2.png" alt="compaines">
            </a>
            <a href="#" target="_blank">
                <img data-lazy="./images/compaines/img_3.png" alt="compaines">
            </a>
            <a href="#" target="_blank">
                <img data-lazy="./images/compaines/img_4.png" alt="compaines">
            </a>
            <a href="#" target="_blank">
                <img data-lazy="./images/compaines/img_1.png" alt="compaines">
            </a>
            <a href="#" target="_blank">
                <img data-lazy="./images/compaines/img_2.png" alt="compaines">
            </a>
            <a href="#" target="_blank">
                <img data-lazy="./images/compaines/img_3.png" alt="compaines">
            </a>
            <a href="#" target="_blank">
                <img data-lazy="./images/compaines/img_4.png" alt="compaines">
            </a>
        </div>
    </div>
</section>