<section class="promotion" id="promotion">
    <div class="promotion_container container">
        <h2>
            Продвижение социальных сетей
        </h2>

        <ul>
            <li>
                <a href="#">
                    Продвижение facebook
                </a>
            </li>
            <li>
                <a href="#">
                    Продвижение ВК
                </a>
            </li>
            <li>
                <a href="#">
                    Продвижение Instagram
                </a>
            </li>
            <li>
                <a href="#">
                    Продвижение Одноклассники
                </a>
            </li>
        </ul>
    </div>
</section>