<section class="warranty">

    <img data-src="./images/warranty/money1.png" class="bg_money1 lazy" alt="money">
    <img data-src="./images/warranty/money2.png" class="bg_money2 lazy" alt="money">

    <div class="warranty_container container">
       <div class="warranty_top">
        <h2>
            Какие у нас гарантии
        </h2>

        <p>
            В нашей компании вы получаете быструю настройку и тест
            рекламных каналов. 100% качественный сервис. Гибкая
            система скидок и бонусов
        </p>

       </div>
        <div class="warranty_bottom js_warranty_bottom">
            <div class="warranty_bottom-block js_warranty_bottom-block--1">
                <img data-src="./images/warranty/contract.png" class="lazy" alt="Contract">
                <p>
                    Работаем на результат.
                    Оплата по договору
                </p>
            </div>
            <div class="warranty_bottom-block js_warranty_bottom-block--2">
                <img data-src="./images/warranty/time.png" class="lazy" alt="time">
                <p>
                    Соблюдаем сроки
                    или делаем бесплатно
                </p>
            </div>
            <div class="warranty_bottom-block js_warranty_bottom-block--3">
                <img data-src="./images/warranty/shield.png" class="lazy" alt="shield">
                <p>
                    Прозрачность. <span class="hidden_on-tablet">&nbsp;</span><br>
                    Делаем настройки под
                    вашими аккаунтами
                </p>
            </div>
        </div>
    </div>
</section>