html, body, head, title, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* make sure to set some focus styles for accessibility */
:focus { outline: 0 !important; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration { -webkit-appearance: none; -moz-appearance: none; }

input[type="search"] { -webkit-appearance: none; -moz-appearance: none; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/** Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3. */
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; max-width: 100%; }

/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }

/** Address styling not present in IE 7/8/9, Firefox 3, and Safari 4. Known issue: no IE 6 support. */
[hidden] { display: none; }

/** 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using `em` units. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html { font-size: 100%; /* 1 */ -webkit-text-size-adjust: 100%; /* 2 */ -ms-text-size-adjust: 100%; /* 2 */ }

/** Address `outline` inconsistency between Chrome and other browsers. */
a:focus { outline: thin dotted; }

/** Improve readability when focused and also mouse hovered in all browsers. */
a:active, a:hover { outline: 0; }

/** 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3. 2. Improve image quality when scaled in IE 7. */
img { border: 0; /* 1 */ max-width: 100%; -ms-interpolation-mode: bicubic; /* 2 */ }

/** Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11. */
figure { margin: 0; }

/** Correct margin displayed oddly in IE 6/7. */
form { margin: 0; }

/** Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct color not being inherited in IE 6/7/8/9. 2. Correct text not wrapping in Firefox 3. 3. Correct alignment displayed oddly in IE 6/7. */
legend { border: 0; /* 1 */ padding: 0; white-space: normal; /* 2 */ *margin-left: -7px; /* 3 */ }

/** 1. Correct font size not being inherited in all browsers. 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5, and Chrome. 3. Improve appearance and consistency in all browsers. */
button, input, select, textarea { font-size: 100%; /* 1 */ margin: 0; /* 2 */ vertical-align: baseline; /* 3 */ *vertical-align: middle; /* 3 */ }

/** Address Firefox 3+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
button, input { line-height: normal; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+. Correct `select` style inheritance in Firefox 4+ and Opera. */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. 4. Remove inner spacing in IE 7 without affecting normal text inputs. Known issue: inner spacing remains in IE 6. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ *overflow: visible; /* 4 */ }

/** Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] { cursor: default; }

input[type="password"]::-ms-reveal { color: #8b1a1a !important; }

/** 1. Address box sizing set to content-box in IE 8/9. 2. Remove excess padding in IE 8/9. 3. Remove excess padding in IE 7. Known issue: excess padding remains in IE 6. */
input[type="checkbox"], input[type="radio"] { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ *height: 13px; /* 3 */ *width: 13px; /* 3 */ }

/** 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome. 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome (include `-moz` to future-proof). */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }

/** Remove inner padding and search cancel button in Safari 5 and Chrome on OS X. */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Remove inner padding and border in Firefox 3+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** 1. Remove default vertical scrollbar in IE 6/7/8/9. 2. Improve readability and alignment in all browsers. */
textarea { overflow: auto; /* 1 */ vertical-align: top; /* 2 */ }

/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

html, button, input, select, textarea { color: #222; }

::-moz-selection { background: #b3d4fc; text-shadow: none; }

::selection { background: #b3d4fc; text-shadow: none; }

img { vertical-align: middle; }

fieldset { border: 0; margin: 0; padding: 0; }

textarea { resize: vertical; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }

input::-webkit-input-placeholder { overflow: visible; }

input::-moz-placeholder { overflow: visible; }

input:-ms-input-placeholder { overflow: visible; }

input::-ms-input-placeholder { overflow: visible; }

input:-moz-placeholder { overflow: visible; }

input::placeholder { overflow: visible; }

input[type="submit"], input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none !important; }

input[type="number"] { -moz-appearance: textfield !important; }

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button { -webkit-appearance: none !important; }

* { -webkit-tap-highlight-color: transparent !important; }

a { text-decoration: none; }

html { font-size: 100%; }

.container { position: relative; width: 100%; max-width: 940px; margin-left: auto; margin-right: auto; }

/* purgecss start ignore */
.wrapper-page { display: flex; flex-direction: column; min-height: 100vh; }

.wrapper-page > * { width: 100%; }

.wrapper-page .main-page { flex: 1 0 auto; }

body { overflow-x: hidden; font-family: "Gilroy", sans-serif !important; }

.header { padding-top: 30px; background: url(../../images/header/bg1.jpeg) 0% 0% no-repeat; background-size: 100%; }

.header:before { content: ""; position: absolute; right: 0; top: 0; width: 555px; height: 750px; z-index: 0; background: url(../../images/orange_color-right.png) center no-repeat; }

.header:after { content: ""; position: absolute; left: -150px; top: 135px; width: 550px; height: 900px; background: url(../../images/blue_color-left.png) center no-repeat; z-index: 0; }

.header_container-top { display: flex; flex-direction: row; align-items: center; margin-bottom: 60px; position: relative; z-index: 50; }

.header_container-top .header_logo { width: 130px; height: 71px; display: block; margin-right: 28px; }

.header_container-top .header_logo img { height: 100%; width: 100%; }

.header_container-top .header_nav { width: 373px; border: 1px solid #fff; border-radius: 5px; margin-right: 88px; position: relative; overflow: hidden; cursor: pointer; height: 62px; }

.header_container-top .header_nav:after { content: ""; position: absolute; top: 24px; right: 12px; width: 21px; height: 18px; background: url(../../images/header/arrow_down.svg) center no-repeat; background-size: contain; }

.header_container-top .header_nav li { text-align: left; font-size: 18px; line-height: 18px; height: 100%; color: #fff; font-family: "TT Norms Pro", sans-serif; padding: 22px 42px 22px 22px; box-sizing: border-box; }

.header_container-top .header_nav li a { color: #fff; }

.header_container-top .header_nav ul { opacity: 0; transform: scaleY(0); transform-origin: 0 0; transition: 0.5s ease; width: calc(100% + 2px); left: -1px; top: 0; position: relative; background-color: #151515; }

.header_container-top .header_nav:hover { overflow: visible; border-radius: 5px 5px 0 0; border-bottom: 0; }

.header_container-top .header_nav:hover ul { opacity: 1; transform: scaleY(1); }

.header_container-top .header_nav:hover ul li { border-left: 1px solid #fff; border-right: 1px solid #fff; }

.header_container-top .header_nav:hover ul li:hover a { color: #f26d2b; }

.header_container-top .header_nav:hover ul li:last-of-type { border-radius: 0 0 5px 5px; border-bottom: 1px solid #fff; }

.header_container-top .header_links { display: flex; flex-direction: row; justify-content: center; align-items: center; margin-right: 40px; }

.header_container-top .header_links-item { margin-right: 20px; }

.header_container-top .header_links-item:last-of-type { margin-right: 0; }

.header_container-top .header_links-item a { display: block; }

.header_container-top .header_links-item img { transition: 0.3s ease; }

.header_container-top .header_links-item img:hover { transform: scale(1.2); }

.header_container-top .header_contacts { display: flex; flex-direction: column; align-items: flex-end; width: 180px; }

.header_container-top .header_contacts a { line-height: 1; display: block; font-size: 24px; color: #fff; margin-bottom: 13px; transition: 0.3s ease; position: relative; z-index: 50; }

.header_container-top .header_contacts a:last-of-type { margin-bottom: 0; font-size: 18px; text-decoration: underline; color: #ff681e; }

.header_container-top .header_contacts a:last-of-type:hover { color: #b73c00; }

.header_container-top .header_contacts a:hover { color: #ff681e; text-decoration: underline; }

.header_container-bottom { position: relative; z-index: 5; padding-bottom: 60px; }

.header_container-bottom h1 { margin-bottom: 45px; display: block; font-size: 46px; font-weight: 500; width: 820px; color: #fff; position: relative; z-index: 15; }

.header_container-bottom h1 span { font-weight: bold; color: #ff681e; }

.header_container-bottom ul { display: flex; flex-direction: column; }

.header_container-bottom ul li { display: block; padding-left: 90px; position: relative; margin-bottom: 28px; font-size: 18px; color: #fff; }

.header_container-bottom ul li:before { content: ""; position: absolute; left: 0; top: 0; display: block; }

.header_container-bottom ul li:first-of-type { padding-top: 31px; padding-bottom: 21px; }

.header_container-bottom ul li:first-of-type:before { width: 67px; height: 68px; background: url(../../images/header/icon-money.png) center no-repeat; }

.header_container-bottom ul li:nth-child(2) { padding-top: 20px; padding-bottom: 16px; }

.header_container-bottom ul li:nth-child(2):before { width: 71px; height: 53px; background: url(../../images/header/icon-target.png) center no-repeat; }

.header_container-bottom ul li:last-of-type { padding-top: 27px; padding-bottom: 42px; margin-bottom: 45px; }

.header_container-bottom ul li:last-of-type:before { width: 72px; height: 86px; background: url(../../images/header/icon-rocket.png) center no-repeat; }

.header_container-bottom .btn { max-width: 361px; }

.header_container-bottom .header_bottom-logos { position: absolute; bottom: -60px; right: -335px; width: 800px; height: 800px; z-index: 0; }

.promotion { padding-top: 60px; padding-bottom: 60px; background-color: #151515; }

.promotion h2 { width: 100%; text-align: center; font-size: 38px; font-weight: 500; line-height: 1.2; color: #fff; margin-bottom: 60px; }

.promotion ul { display: flex; flex-direction: row; justify-content: center; align-items: center; }

.promotion ul li { display: block; border: 1px solid #fff; border-radius: 6px; margin-right: 22px; cursor: pointer; position: relative; transition: 0.3s ease; overflow: hidden; }

.promotion ul li a { position: relative; display: block; width: 100%; padding: 12px 8px; font-family: "TT Norms Pro"; font-size: 18px; font-weight: 400; line-height: 24px; color: #fff; transition: 0.4s ease; z-index: 5; box-sizing: border-box; }

.promotion ul li:before { content: ""; height: 0; position: absolute; bottom: 0; left: 0; right: 0; width: 100%; background-color: #fff; transition: 0.4s ease; border-radius: 4; z-index: 0; }

.promotion ul li:hover { background-color: #fff; }

.promotion ul li:hover a { color: black; }

.promotion ul li:hover:before { height: 100%; }

.promotion ul li:last-of-type { margin-right: 0; }

.application { padding-top: 60px; padding-bottom: 60px; background-color: #151515; position: relative; }

.application:before { content: ""; position: absolute; right: -90px; top: 490px; width: 554px; height: 1000px; z-index: 0; background: url(../../images/blue_color-right.png) center no-repeat; background-size: contain; }

.application:after { content: ""; position: absolute; left: -50px; top: 135px; width: 450px; height: 1550px; z-index: 0; background: url(../../images/orange_color-left.png) center no-repeat; background-size: contain; }

.application .bg_money1 { position: absolute; z-index: 0; width: 150px; height: 135px; top: 150px; left: 50px; }

.application .bg_money2 { position: absolute; z-index: 0; width: 240px; height: 255px; top: 100px; right: 0; }

.application .bg_money3 { position: absolute; z-index: 0; width: 150px; height: 135px; bottom: 350px; left: 150px; }

.application h2 { font-size: 38px; width: 100%; text-align: center; color: #fff; font-weight: 500; line-height: 1.2; margin-bottom: 60px; }

.application h2 span { font-weight: bold; color: #ff681e; }

.application_steps { display: flex; flex-direction: column; margin-bottom: 60px; }

.application_steps-top { width: 100%; display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin-bottom: 40px; }

.application_steps-top .arrow_1 { width: 277px; height: 70px; object-fit: contain; }

.application_steps-top .application_step:first-of-type { width: 280px; }

.application_steps-top .application_step:last-of-type { width: 370px; }

.application_steps-bottom { width: 100%; position: relative; }

.application_steps-bottom .arrow_2 { width: 170px; height: 170px; object-fit: contain; position: absolute; right: 100px; top: 0; }

.application_steps-bottom .application_step:first-of-type { width: 390px; margin-left: auto; margin-right: auto; }

.application_step { text-align: center; }

.application_step img { max-width: 179px; height: auto; margin-bottom: 35px; }

.application_step p { font-size: 18px; line-height: 1.3; font-weight: 500; color: #fff; }

.application_step p span { color: #f26d2b; }

.application_form { width: 100%; background-color: #212121; border-radius: 6px; border: 1px solid #f26d2b; padding: 22px; box-sizing: border-box; }

.application_form-top { display: flex; flex-direction: row; margin-bottom: 20px; }

.application_form-top .form-validate { margin-right: 30px; }

.application_form-top .form-validate:last-of-type { margin-right: 0; }

.application_form-top label { display: none; }

.application_form-top input { padding: 15px; width: 277px; box-sizing: border-box; display: block; font-size: 18px; color: #fff; outline: 0; border-radius: 6px; border: 0; box-shadow: none; transition: 0.3s ease; background-color: #2c2c2c; }

.application_form-top input::placeholder { color: #444444; }

.application_form-top input:focus, .application_form-top input:hover { box-shadow: inset 0 0 4px 1px rgba(242, 109, 43, 0.6); }

.application_form-bottom { display: flex; flex-direction: row; align-items: center; }

.application_form-bottom .btn { max-width: 261px; margin-right: 35px; }

.application_form-bottom p { font-size: 18px; color: #343434; line-height: 1.4; width: 418px; font-weight: 500; }

.application_form-bottom p a { color: #404040; text-decoration: underline; transition: 0.3s ease; }

.application_form-bottom p a:hover { color: #f26d2b; }

.compaines { padding-top: 60px; padding-bottom: 60px; background-color: #151515; }

.compaines h2 { width: 100%; text-align: center; font-size: 38px; font-weight: 500; line-height: 1; color: #fff; margin-bottom: 60px; }

.compaines_slider { width: 100%; overflow: hidden; }

.compaines_slider .slick-track { display: flex; flex-direction: row; align-items: center; }

.compaines_slider a { text-align: center; display: block; }

.warranty { padding-top: 60px; padding-bottom: 60px; background-color: #151515; position: relative; }

.warranty:after { content: ""; position: absolute; left: -50px; top: 0; width: 335px; height: 1000px; z-index: 0; background: url(../../images/orange_color-left.png) center no-repeat; background-size: contain; }

.warranty .bg_money1 { position: absolute; z-index: 1; width: 130px; height: 130px; top: 100px; right: 100px; }

.warranty .bg_money2 { position: absolute; z-index: 1; width: 150px; height: 135px; bottom: -50px; left: 50px; }

.warranty_top h2 { width: 100%; text-align: center; font-size: 38px; font-weight: 500; line-height: 1; color: #fff; margin-bottom: 60px; }

.warranty_top p { display: block; width: 650px; margin-left: auto; margin-right: auto; text-align: center; color: #fff; font-size: 23px; font-weight: 500; line-height: 1.2; margin-bottom: 60px; }

.warranty_bottom { display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start; }

.warranty_bottom-block { width: 100%; max-width: 33%; text-align: center; }

.warranty_bottom img { height: 180px; }

.warranty_bottom p { margin-top: 20px; text-align: center; font-size: 18px; line-height: 1.2; color: #fff; width: 205px; margin-left: auto; margin-right: auto; }

.cases { padding-top: 60px; padding-bottom: 60px; background-color: #151515; position: relative; }

.cases:before { content: ""; position: absolute; left: -50px; bottom: -80px; width: 380px; height: 1180px; z-index: 0; background: url(../../images/blue_color-left.png) center no-repeat; background-size: contain; }

.cases:after { content: ""; position: absolute; right: -50px; top: -250px; width: 380px; height: 1250px; z-index: 0; background: url(../../images/blue_color-right.png) center no-repeat; background-size: contain; }

.cases .bg_money1 { position: absolute; z-index: 0; width: 100px; height: 100px; top: 300px; left: 50px; }

.cases .bg_money2 { position: absolute; z-index: 0; width: 100px; height: 100px; bottom: 200px; right: 50px; }

.cases h2 { width: 100%; text-align: center; font-size: 38px; font-weight: 500; line-height: 1; color: #fff; margin-bottom: 60px; }

.cases_blocks { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; }

.cases_blocks .cases_block { width: calc(50% - 10px); box-sizing: border-box; margin-bottom: 20px; background-color: #212121; border-radius: 6px; padding: 22px 22px 50px 22px; }

.cases_blocks .cases_block img { width: 100%; height: 266px; object-fit: cover; display: block; margin-bottom: 25px; }

.cases_blocks .cases_block a { display: flex; flex-direction: row; justify-content: flex-start; align-items: center; margin-bottom: 25px; }

.cases_blocks .cases_block a img { width: 30px; height: auto; margin-right: 25px; margin-bottom: 0; transition: 0.4s ease; }

.cases_blocks .cases_block a p { font-size: 23px; line-height: 1.2; font-weight: 500; text-decoration: underline; transition: 0.4s ease; color: #4e70ce; }

.cases_blocks .cases_block a:hover img { transform: scale(1.4); }

.cases_blocks .cases_block a:hover p { color: #f26d2b; }

.cases_blocks .cases_block p { font-size: 18px; color: #fff; line-height: 1.4; width: 285px; }

.cases .btn { max-width: 261px; margin-left: auto; margin-right: auto; margin-top: 20px; }

.footer { padding-bottom: 30px; background-color: #151515; position: relative; }

.footer:after { content: ""; position: absolute; right: -50px; bottom: 0; width: 335px; height: 580px; z-index: 0; background: url(../../images/orange_color-right.png) center no-repeat; background-size: contain; transform: scale(1, -1); }

.footer_container { display: flex; flex-direction: row; align-items: center; }

.footer_logo { width: 130px; height: 62px; display: block; margin-right: 20px; }

.footer_logo img { height: 100%; width: 100%; }

.footer .footer_link-mail { font-size: 18px; font-weight: 400; color: #fff; margin-right: 250px; transition: 0.3s ease; }

.footer .footer_link-mail:hover { color: #ff681e; text-decoration: underline; }

.footer .footer_links { display: flex; flex-direction: row; justify-content: center; align-items: center; margin-right: 40px; }

.footer .footer_links-item { margin-right: 20px; }

.footer .footer_links-item:last-of-type { margin-right: 0; }

.footer .footer_links-item a { display: block; }

.footer .footer_links-item img { transition: 0.3s ease; }

.footer .footer_links-item img:hover { transform: scale(1.2); }

.footer .footer_contacts { display: flex; flex-direction: column; align-items: flex-end; width: 180px; }

.footer .footer_contacts a { line-height: 1; display: block; font-size: 24px; color: #fff; margin-bottom: 13px; transition: 0.3s ease; }

.footer .footer_contacts a:last-of-type { margin-bottom: 0; font-size: 18px; text-decoration: underline; color: #ff681e; }

.footer .footer_contacts a:last-of-type:hover { color: #b73c00; }

.footer .footer_contacts a:hover { color: #ff681e; text-decoration: underline; }

.btn { width: 100%; display: block; border: 0; outline: 0; box-shadow: inset 0px -6px 1px 0px #953a0d; padding-top: 30px; padding-bottom: 30px; text-align: center; background-color: #f26d2b; font-size: 20px; color: #fff; border-radius: 100px; transition: 0.3s ease; cursor: pointer; }

.btn:hover { box-shadow: none; background-color: #c4490c; }

@font-face { font-family: "Gilroy"; src: url("../fonts/gilory/Gilroy-Regular.eot"); src: local("../fonts/gilory/Gilroy Regular"), local("../fonts/gilory/Gilroy-Regular"), url("../fonts/gilory/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gilory/Gilroy-Regular.woff2") format("woff2"), url("../fonts/gilory/Gilroy-Regular.woff") format("woff"), url("../fonts/gilory/Gilroy-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "Gilroy"; src: url("../fonts/gilory/Gilroy-Bold.eot"); src: local("../fonts/gilory/Gilroy Bold"), local("../fonts/gilory/Gilroy-Bold"), url("../fonts/gilory/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilory/Gilroy-Bold.woff2") format("woff2"), url("../fonts/gilory/Gilroy-Bold.woff") format("woff"), url("../fonts/gilory/Gilroy-Bold.ttf") format("truetype"); font-weight: bold; font-style: normal; }

@font-face { font-family: "Gilroy"; src: url("../fonts/gilory/Gilroy-Black.eot"); src: local("../fonts/gilory/Gilroy Black"), local("../fonts/gilory/Gilroy-Black"), url("../fonts/gilory/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/gilory/Gilroy-Black.woff2") format("woff2"), url("../fonts/gilory/Gilroy-Black.woff") format("woff"), url("../fonts/gilory/Gilroy-Black.ttf") format("truetype"); font-weight: 900; font-style: normal; }

@font-face { font-family: "Gilroy"; src: url("../fonts/gilory/Gilroy-Light.eot"); src: local("../fonts/gilory/Gilroy Light"), local("../fonts/gilory/Gilroy-Light"), url("../fonts/gilory/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/gilory/Gilroy-Light.woff2") format("woff2"), url("../fonts/gilory/Gilroy-Light.woff") format("woff"), url("../fonts/gilory/Gilroy-Light.ttf") format("truetype"); font-weight: 300; font-style: normal; }

@font-face { font-family: "Gilroy"; src: url("../fonts/gilory/Gilroy-Semibold.eot"); src: local("../fonts/gilory/Gilroy Semibold"), local("../fonts/gilory/Gilroy-Semibold"), url("../fonts/gilory/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilory/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/gilory/Gilroy-Semibold.woff") format("woff"), url("../fonts/gilory/Gilroy-Semibold.ttf") format("truetype"); font-weight: 600; font-style: normal; }

@font-face { font-family: "Gilroy"; src: url("../fonts/gilory/Gilroy-Medium.eot"); src: local("../fonts/gilory/Gilroy Medium"), local("../fonts/gilory/Gilroy-Medium"), url("../fonts/gilory/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gilory/Gilroy-Medium.woff2") format("woff2"), url("../fonts/gilory/Gilroy-Medium.woff") format("woff"), url("../fonts/gilory/Gilroy-Medium.ttf") format("truetype"); font-weight: 500; font-style: normal; }

@font-face { font-family: "Gilroy"; src: url("../fonts/gilory/Gilroy-UltraLight.eot"); src: local("../fonts/gilory/Gilroy UltraLight"), local("../fonts/gilory/Gilroy-UltraLight"), url("../fonts/gilory/Gilroy-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/gilory/Gilroy-UltraLight.woff2") format("woff2"), url("../fonts/gilory/Gilroy-UltraLight.woff") format("woff"), url("../fonts/gilory/Gilroy-UltraLight.ttf") format("truetype"); font-weight: 200; font-style: normal; }

@font-face { font-family: "Gilroy"; src: url("../fonts/gilory/Gilroy-Extrabold.eot"); src: local("../fonts/gilory/Gilroy Extrabold"), local("../fonts/gilory/Gilroy-Extrabold"), url("../fonts/gilory/Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilory/Gilroy-Extrabold.woff2") format("woff2"), url("../fonts/gilory/Gilroy-Extrabold.woff") format("woff"), url("../fonts/gilory/Gilroy-Extrabold.ttf") format("truetype"); font-weight: 800; font-style: normal; }

@font-face { font-family: "Gilroy"; src: url("../fonts/gilory/Gilroy-Heavy.eot"); src: local("../fonts/gilory/Gilroy Heavy"), local("../fonts/gilory/Gilroy-Heavy"), url("../fonts/gilory/Gilroy-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/gilory/Gilroy-Heavy.woff2") format("woff2"), url("../fonts/gilory/Gilroy-Heavy.woff") format("woff"), url("../fonts/gilory/Gilroy-Heavy.ttf") format("truetype"); font-weight: 900; font-style: normal; }

@font-face { font-family: "Gilroy"; src: url("../fonts/gilory/Gilroy-Thin.eot"); src: local("../fonts/gilory/Gilroy Thin"), local("../fonts/gilory/Gilroy-Thin"), url("../fonts/gilory/Gilroy-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/gilory/Gilroy-Thin.woff2") format("woff2"), url("../fonts/gilory/Gilroy-Thin.woff") format("woff"), url("../fonts/gilory/Gilroy-Thin.ttf") format("truetype"); font-weight: 100; font-style: normal; }

@font-face { font-family: "TT Norms Pro"; src: url("../fonts/norms/TTNormsPro-Bold.eot"); src: local("../fonts/norms/TT Norms Pro Bold"), local("../fonts/norms/TTNormsPro-Bold"), url("../fonts/norms/TTNormsPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/norms/TTNormsPro-Bold.woff2") format("woff2"), url("../fonts/norms/TTNormsPro-Bold.woff") format("woff"), url("../fonts/norms/TTNormsPro-Bold.ttf") format("truetype"); font-weight: bold; font-style: normal; }

@font-face { font-family: "TT Norms Pro"; src: url("../fonts/norms/TTNormsPro-Thin.eot"); src: local("../fonts/norms/TT Norms Pro Thin"), local("../fonts/norms/TTNormsPro-Thin"), url("../fonts/norms/TTNormsPro-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/norms/TTNormsPro-Thin.woff2") format("woff2"), url("../fonts/norms/TTNormsPro-Thin.woff") format("woff"), url("../fonts/norms/TTNormsPro-Thin.ttf") format("truetype"); font-weight: 100; font-style: normal; }

@font-face { font-family: "TT Norms Pro"; src: url("../fonts/norms/TTNormsPro-ExtraBold.eot"); src: local("../fonts/norms/TT Norms Pro ExtraBold"), local("../fonts/norms/TTNormsPro-ExtraBold"), url("../fonts/norms/TTNormsPro-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/norms/TTNormsPro-ExtraBold.woff2") format("woff2"), url("../fonts/norms/TTNormsPro-ExtraBold.woff") format("woff"), url("../fonts/norms/TTNormsPro-ExtraBold.ttf") format("truetype"); font-weight: 800; font-style: normal; }

@font-face { font-family: "TT Norms Pro"; src: url("../fonts/norms/TTNormsPro-Regular.eot"); src: local("../fonts/norms/TT Norms Pro Regular"), local("../fonts/norms/TTNormsPro-Regular"), url("../fonts/norms/TTNormsPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/norms/TTNormsPro-Regular.woff2") format("woff2"), url("../fonts/norms/TTNormsPro-Regular.woff") format("woff"), url("../fonts/norms/TTNormsPro-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "TT Norms Pro"; src: url("../fonts/norms/TTNormsPro-Light.eot"); src: local("../fonts/norms/TT Norms Pro Light"), local("../fonts/norms/TTNormsPro-Light"), url("../fonts/norms/TTNormsPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/norms/TTNormsPro-Light.woff2") format("woff2"), url("../fonts/norms/TTNormsPro-Light.woff") format("woff"), url("../fonts/norms/TTNormsPro-Light.ttf") format("truetype"); font-weight: 300; font-style: normal; }

@font-face { font-family: "TT Norms Pro"; src: url("../fonts/norms/TTNormsPro-ExtraLight.eot"); src: local("../fonts/norms/TT Norms Pro ExtraLight"), local("../fonts/norms/TTNormsPro-ExtraLight"), url("../fonts/norms/TTNormsPro-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/norms/TTNormsPro-ExtraLight.woff2") format("woff2"), url("../fonts/norms/TTNormsPro-ExtraLight.woff") format("woff"), url("../fonts/norms/TTNormsPro-ExtraLight.ttf") format("truetype"); font-weight: 200; font-style: normal; }

@font-face { font-family: "TT Norms Pro"; src: url("../fonts/norms/TTNormsPro-Medium.eot"); src: local("../fonts/norms/TT Norms Pro Medium"), local("../fonts/norms/TTNormsPro-Medium"), url("../fonts/norms/TTNormsPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/norms/TTNormsPro-Medium.woff2") format("woff2"), url("../fonts/norms/TTNormsPro-Medium.woff") format("woff"), url("../fonts/norms/TTNormsPro-Medium.ttf") format("truetype"); font-weight: 500; font-style: normal; }

@font-face { font-family: "TT Norms Pro ExtraBlack"; src: url("../fonts/norms/TTNormsPro-ExtraBlack.eot"); src: local("../fonts/norms/TT Norms Pro ExtraBlack"), local("../fonts/norms/TTNormsPro-ExtraBlack"), url("../fonts/norms/TTNormsPro-ExtraBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/norms/TTNormsPro-ExtraBlack.woff2") format("woff2"), url("../fonts/norms/TTNormsPro-ExtraBlack.woff") format("woff"), url("../fonts/norms/TTNormsPro-ExtraBlack.ttf") format("truetype"); font-weight: 900; font-style: normal; }

@font-face { font-family: "TT Norms Pro"; src: url("../fonts/norms/TTNormsPro-Black.eot"); src: local("../fonts/norms/TT Norms Pro Black"), local("../fonts/norms/TTNormsPro-Black"), url("../fonts/norms/TTNormsPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/norms/TTNormsPro-Black.woff2") format("woff2"), url("../fonts/norms/TTNormsPro-Black.woff") format("woff"), url("../fonts/norms/TTNormsPro-Black.ttf") format("truetype"); font-weight: 900; font-style: normal; }

body::-webkit-scrollbar { width: 12px; }

body::-webkit-scrollbar-track { box-shadow: inset 0 0 4px rgba(242, 109, 43, 0.14); background: #212121; }

body::-webkit-scrollbar-thumb { background: #f26d2b; border-radius: 10px; box-shadow: inset 0 0 4px rgba(242, 109, 43, 0.16); }

.go_to-top { width: 155px; height: 155px; border-radius: 50%; background-color: #242424; position: fixed; z-index: 9999; left: 10px; bottom: 10px; display: flex; flex-direction: column; justify-content: center; transition: 0.5s ease; cursor: pointer; opacity: 0.5; }

.go_to-top.js_rocket_hide { bottom: -200px; }

.go_to-top img { width: 25px; display: block; margin-left: auto; transition: 0.4s ease; margin-right: auto; }

.go_to-top p { width: 100%; text-align: center; color: #575757; font-size: 22px; text-transform: uppercase; font-weight: 500; transition: 0.4s ease; margin-top: 10px; }

.go_to-top:hover { background-color: #575757; opacity: 1; }

.go_to-top:hover img { transform: translateY(-10px); }

.go_to-top:hover p { color: #171717; }

.fancybox-content { padding: 0 !important; background-color: #212121; }

.fancybox-slide--html .fancybox-close-small { color: #fff; }

@media (min-width: 640px) { .fancybox-slide--html .fancybox-close-small { color: #fff !important; }
  .fancybox-slide--html .fancybox-close-small:hover svg { transform: rotate(180deg); transition: 0.4s ease; color: #f26d2b !important; } }

.fancybox-bg { background-color: #000; }

.modal_case, .modal_time { width: 100%; max-width: 620px !important; border-radius: 8px; }

.modal_case-container, .modal_time-container { background-color: #212121; padding: 40px 80px; }

.modal_case-container h3, .modal_time-container h3 { color: #fff; font-size: 23px; line-height: 1.4; font-weight: 500; text-align: center; margin-bottom: 30px; width: 340px; margin-left: auto; margin-right: auto; }

.modal_case-container h3 span, .modal_time-container h3 span { color: #f26d2b; }

.modal_case-container h6, .modal_time-container h6 { color: #5f5f5f; font-size: 18px; text-align: center; width: 414px; line-height: 1.4; margin-left: auto; margin-right: auto; display: block; margin-bottom: 40px; }

.modal_case-container .form-validate, .modal_time-container .form-validate { margin-bottom: 20px; }

.modal_case-container .form-validate:last-of-type, .modal_time-container .form-validate:last-of-type { margin-bottom: 40px; }

.modal_case-container .form-validate label, .modal_time-container .form-validate label { display: none; }

.modal_case-container .form-validate input, .modal_time-container .form-validate input { padding: 18px; width: 100%; box-sizing: border-box; display: block; font-size: 18px; color: #fff; outline: 0; border-radius: 6px; border: 0; box-shadow: none; transition: 0.3s ease; background-color: #2c2c2c; }

.modal_case-container .form-validate input::placeholder, .modal_time-container .form-validate input::placeholder { color: #444444; }

.modal_case-container .form-validate input:focus, .modal_case-container .form-validate input:hover, .modal_time-container .form-validate input:focus, .modal_time-container .form-validate input:hover { box-shadow: inset 0 0 4px 1px rgba(242, 109, 43, 0.6); }

.modal_case-container .btn, .modal_time-container .btn { max-width: 261px; margin-left: auto; margin-right: auto; margin-bottom: 30px; }

.modal_case-container p, .modal_time-container p { font-size: 18px; color: #343434; line-height: 1.4; width: 420px; font-weight: 500; margin-left: auto; margin-right: auto; }

.modal_case-container p a, .modal_time-container p a { color: #404040; text-decoration: underline; transition: 0.3s ease; }

.modal_case-container p a:hover, .modal_time-container p a:hover { color: #f26d2b; }

.modal_info { width: 100%; max-width: 750px !important; border-radius: 8px; }

.modal_info-container { background-color: #212121; padding: 40px 20px; }

.modal_info-container h3 { color: #fff; font-size: 23px; line-height: 1.4; font-weight: 500; text-align: center; margin-bottom: 30px; }

.modal_info-container--content { height: 500px; padding: 20px; overflow: scroll; border-radius: 6px; background-color: #2c2c2c; overflow: -moz-scrollbars-none; -ms-overflow-style: none; scrollbar-width: none; }

.modal_info-container--content::-webkit-scrollbar { width: 0px; background: transparent; }

.modal_info-container--content h4 { color: #fff; font-size: 18px; line-height: 1.4; font-weight: 500; margin-bottom: 20px; }

.modal_info-container--content p { color: #fff; font-size: 18px; line-height: 1.4; margin-bottom: 20px; padding-left: 15px; }

/* purgecss end ignore */

/*# sourceMappingURL=site.css.map */
