@@include('../_header-page.html')

   <body>
      <div class="wrapper-page ">
      <header class="header header-404">
         <div class="header_container-top container">
            <a href="#" class="header_logo">
                <img src="./images/logo.png" alt="Logo">
            </a>
            <div class="header_top-404">
                <ul class="header_links">
                    <li class="header_links-item">
                    <a href="#">
                    <img src="./images/icon-instagram.png" alt="Instagram">
                    </a>
                    </li>
                    <li class="header_links-item">
                    <a href="#">
                    <img src="./images/icon-vk.png" alt="VK">
                    </a>
                    </li>
                    <li class="header_links-item">
                    <a href="#">
                    <img src="./images/icon-facebook.png" alt="facebook">
                    </a>
                    </li>
                </ul>
                <div class="header_contacts">
                    <a href="tel:+7(919)812-71-74">+7 (919) 812-71-74</a>
                    <a href="#modal_recall" data-fancybox="" data-touch="false" class="order_recall">Заказать звонок</a>
                </div>
            </div>
         </div>
         <section class="header_container-bottom">
            <h1>
               404
            </h1>
         </section>
      </header>