<div class="modal_case" id="modal_case" style="display: none">

    <div class="modal_case-container">

        <h3>
            Получить кейсы
        </h3>

        <h6>
            Оставьте свой телефон и наш менеджер ответит
            на любые Ваши вопросы
        </h6>

        <form class="modal_case-form">
            <div class="form-validate">
                <label for="form_case_name"></label>
                <input type="text" name="form_case_name" minlength="3" required id="form_case_name"  placeholder="Ваше имя">
            </div>
            <div class="form-validate">
                <label for="form_case_tel"></label>
                <input type="tel" name="form_case_tel" required id="form_case_tel" data-mask="+0 (000) 000 00 00"  placeholder="Ваш номер телефона">
            </div>


        
            <button type="button" class="btn">
                <span>
                    Отправить
                </span>
            </button>

            <p>
                Нажимая на кнопку, вы принимаете <a href="#modal_info" data-fancybox="" data-touch="false">
                Положение и Согласие на обработку персональных данных</a>
            </p>
        </form>

    </div>

</div>
  