<div class="modal_cases-info" id="modal_cases-info" style="display: none">
    <div class="modal_cases-info-container">
       <div class="modal_cases-info--content">
          <p>
             <span class="color-grey">
                Было:
             </span> Нерегулируемая рекламная кампания. Были сомнения в некоторых целевых аудиториях, которые также были задействованы в рекламной кампании. Компания работала не со всеми регионами.
          </p>
          <p>
             <span class="color-orange">
                Стало:
             </span> Общая статистика кампаний: Охват: 322860 (518250) Переходов: 6427 (19776)
          </p>
          <p>
             <span class="color-white d-block">
                Задача:
             </span>
             Протестировать и определить наиболее «конверсионные» регионы в рекламном кабинете. Упорядочить аналитику рекламной кампании. Улучшить показатели рекламной кампании по отношению к предыдущему месяцу.
          </p>
          <p>
             <span class="color-green">
                По итогам:
             </span> Показатели рекламной кампании, проведенной за апрель ниже показателей РК основного аккаунта за март; Подключена функция Shopping Tags; Настроен и подключен Пиксель Facebook; Подключена и настроена система аналитики показателей – Яндекс Метрика; Настроены цели
          </p>
       </div>
       <div class="modal_cases-info--slider js_modal_cases-info--slider">
         <div class="modal_cases-info--slide">
            <img src="./images/cases/modal/img_1.jpg" alt="jpg">
         </div>
         <div class="modal_cases-info--slide">
            <img src="./images/cases/modal/img_1.jpg" alt="jpg">
         </div>
       </div>
    </div>
 </div>