<div class="modal_recall" id="modal_recall" style="display: none">

    <div class="modal_recall-container">

        <h3>
            Укажите ваши данные и мы вам перезвоним
        </h3>

        <h6>
            Оставьте свой телефон и наш менеджер ответит
            на любые Ваши вопросы
        </h6>

        <form class="modal_recall-form">
            <div class="form-validate">
                <label for="form_recall_name"></label>
                <input type="text" name="form_recall_name" id="form_recall_name"  placeholder="Ваше имя">
            </div>
            <div class="form-validate">
                <label for="form_recall_tel"></label>
                <input type="tel" name="form_recall_tel" id="form_recall_tel" data-mask="+0 (000) 000 00 00"  placeholder="Ваш номер телефона">
            </div>


        
            
            <button type="button" class="btn">
                <span>
                    Отправить
                </span>
            </button>

            <p>
                Нажимая на кнопку, вы принимаете <a href="#modal_info" data-fancybox="" data-touch="false">
                Положение и Согласие на обработку персональных данных</a>
            </p>
        </form>

    </div>

</div>
  