.compaines {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #151515;
  @media (min-width: 960px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @media (min-width: 1500px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  h2 {
    width: 100%;
    text-align: center;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
    @media (min-width: 640px) {
      font-size: 30px;
      margin-bottom: 30px;
    }

    @media (min-width: 1500px) {
      margin-bottom: 60px;
      font-size: 38px;
    }
  }

  &_slider {
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-bottom: 0;

    .slick-track {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .slick-prev {
      left: 0;
      background: url(../../images/arrow_down.svg) center no-repeat;
      top: 65%;
      transform: rotate(90deg);
      &:before {
        content: none;
      }

      &:hover {
        background: url(../../images/arrow_down-active.svg) center no-repeat;
      }

      @media (min-width: 640px) {
        top: 70%;
      }
    }
    .slick-next {
      right: 0;
      background: url(../../images/arrow_down.svg) center no-repeat;
      top: 65%;
      transform: rotate(-90deg);
      &:before {
        content: none;
      }

      &:hover {
        background: url(../../images/arrow_down-active.svg) center no-repeat;
      }

      @media (min-width: 640px) {
        top: 70%;
      }
    }

    .slick-dots {
      bottom: -20px;
      left: 0;

      li {
        & button:before {
          color: #404040;
          opacity: 1;
        }

        &.slick-active {
          & button:before {
            color: #f26d2b;
            opacity: 1;
          }
        }
      }

      @media (min-width: 640px) {
        bottom: -50px;
        left: unset;
      }
    }

    a {
      text-align: center;
      display: block;
      img {
        transform: scale(0.9);
      }
      @media (min-width: 640px) {
        img {
          transform: unset;
        }
      }
    }
  }
}
