.footer {
  background-color: #151515;
  position: relative;
  padding-bottom: 20px;

  @media (min-width: 640px) {
    padding-bottom: 15px;
  }
  @media (min-width: 960px) {
    padding-bottom: 20px;
  }
  @media (min-width: 1500px) {
    padding-bottom: 30px;
  }

  &:after {
    content: "";
    position: absolute;
    right: -50px;
    bottom: 0;
    width: 335px;
    height: 580px;
    z-index: 0;
    background: url(../../images/orange_color-right.png) center no-repeat;
    background-size: contain;
    transform: scale(1, -1);
  }

  &_container {
    display: flex;
    align-items: center;
    z-index: 5;
    flex-direction: column;

    @media (min-width: 640px) {
      flex-direction: row;
    }
  }
  &_logo {
    display: block;
    width: 133px;
    height: 76px;
    background: url("../../images/css_sprites1.png") -10px -10px;
    order: 1;
    padding-right: 0;
    @media (min-width: 640px) {
      order: 0;
      padding-right: 19px;
    }
  }

  .footer_link-mail {
    font-weight: 400;
    color: #fff;
    transition: 0.3s ease;
    font-size: 18px;
    margin-right: 0;
    order: 2;

    &:hover {
      color: #ff681e;
      text-decoration: underline;
    }

    @media (min-width: 640px) {
      font-size: 16px;
      margin-right: 80px;
      order: 0;
      margin-bottom: 20px;
    }

    @media (min-width: 960px) {
      font-size: 18px;
      margin-right: 250px;
    }
  }

  .footer_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin-top: 20px;
    order: 4;

    @media (min-width: 640px) {
      margin-right: 40px;
      margin-top: 0;
      order: 0;
    }

    &-item {
      margin-right: 20px;

      &:last-of-type {
        margin-right: 0;
      }

      a {
        display: block;
      }

      div {
        transition: 0.3s ease;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  .footer_contacts {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 5;
    order: 3;
    width: 100%;
    @media (min-width: 640px) {
      align-items: flex-end;
      width: 160px;
      order: 0;
    }
    @media (min-width: 960px) {
      width: 180px;
    }

    a {
      line-height: 1;
      display: block;
      color: #fff;
      transition: 0.3s ease;
      position: relative;
      z-index: 50;
      font-size: 18px;
      margin-bottom: 8px;

      &:last-of-type {
        margin-bottom: 0;
        text-decoration: underline;
        color: #ff681e;
        font-size: 16px;

        &:hover {
          color: darken(#ff681e, 20%);
        }
      }

      &:hover {
        color: #ff681e;
        text-decoration: underline;
      }

      @media (min-width: 960px) {
        margin-bottom: 13px;
        font-size: 24px;
        &:last-of-type {
          font-size: 18px;
        }
      }
    }
  }
}
