.footer {
  padding-bottom: 30px;
  background-color: #151515;
  position: relative;
  @media (max-width: 1500px) {
    padding-bottom: 20px;
  }
  @media (max-width: 960px) {
    padding-bottom: 15px;
  }

  @media (max-width: 640px) {
    padding-bottom: 20px;
  }

  &:after {
    content: "";
    position: absolute;
    right: -50px;
    bottom: 0;
    width: 335px;
    height: 580px;
    z-index: 0;
    background: url(../../images/orange_color-right.png) center no-repeat;
    background-size: contain;
    transform: scale(1, -1);
  }

  &_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 5;

    @media (max-width: 640px) {
      flex-direction: column;
    }
  }
  &_logo {
    width: 130px;
    height: 71px;
    display: block;
    margin-right: 20px;

    img {
      height: 100%;
      width: 100%;
    }

    @media (max-width: 640px) {
      order: 1;
      margin-right: 0;
    }
  }

  .footer_link-mail {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-right: 250px;
    transition: 0.3s ease;

    &:hover {
      color: #ff681e;
      text-decoration: underline;
    }
    @media (max-width: 960px) {
      font-size: 16px;
      margin-right: 80px;

      @media (max-width: 640px) {
        order: 2;
        margin-right: 0;
        margin-bottom: 20px;
        font-size: 18px;
      }
    }
  }

  .footer_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 40px;

    @media (max-width: 640px) {
      order: 4;
      margin-right: 0;
      margin-top: 20px;
    }

    &-item {
      margin-right: 20px;

      &:last-of-type {
        margin-right: 0;
      }

      a {
        display: block;
      }

      img {
        transition: 0.3s ease;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  .footer_contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    z-index: 5;
    width: 180px;
    @media (max-width: 960px) {
      width: 160px;
    }
    @media (max-width: 640px) {
      order: 3;
      width: 100%;
      align-items: center;
    }

    a {
      line-height: 1;
      display: block;
      font-size: 24px;
      color: #fff;
      margin-bottom: 13px;
      transition: 0.3s ease;
      position: relative;
      z-index: 50;

      &:last-of-type {
        margin-bottom: 0;
        font-size: 18px;
        text-decoration: underline;
        color: #ff681e;

        &:hover {
          color: darken(#ff681e, 20%);
        }
      }

      &:hover {
        color: #ff681e;
        text-decoration: underline;
      }

      @media (max-width: 960px) {
        font-size: 18px;
        margin-bottom: 8px;

        &:last-of-type {
          font-size: 16px;
        }
      }
    }
  }
}
