.warranty {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #151515;
  position: relative;
  @media (max-width: 1500px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @media (max-width: 960px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &:after {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 335px;
    height: 1000px;
    z-index: 0;
    background: url(../../images/orange_color-left.png) center no-repeat;
    background-size: contain;
  }

  .bg_money1 {
    position: absolute;
    z-index: 1;
    width: 130px;
    height: 130px;
    top: 100px;
    right: 100px;
  }
  .bg_money2 {
    position: absolute;
    z-index: 1;
    width: 150px;
    height: 135px;
    bottom: -50px;
    left: 50px;
    @media (max-width: 960px) {
      left: 0;
    }
  }

  &_top {
    h2 {
      width: 100%;
      text-align: center;
      font-size: 38px;
      font-weight: 500;
      line-height: 1;
      color: #fff;
      margin-bottom: 60px;

      @media (max-width: 1500px) {
        font-size: 30px;
        margin-bottom: 30px;
      }
    }

    p {
      display: block;
      width: 650px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      color: #fff;
      font-size: 23px;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 60px;

      @media (max-width: 1500px) {
        font-size: 21px;
        width: 640px;
      }

      @media (max-width: 960px) {
        font-size: 18px;
        width: 580px;
      }
    }
  }

  &_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    &-block {
      width: 100%;
      max-width: 33%;
      text-align: center;
      position: relative;
      z-index: 5;
    }

    img {
      height: 180px;

      @media (max-width: 1500px) {
        height: 140px;
      }
      @media (max-width: 960px) {
        height: 120px;
      }
    }

    p {
      margin-top: 20px;
      text-align: center;
      font-size: 18px;
      line-height: 1.2;
      color: #fff;
      width: 205px;
      margin-left: auto;
      margin-right: auto;
      @media (max-width: 960px) {
        font-size: 16px;
      }
    }
  }
}
