<body>
    <div class="wrapper-page js_thank-you">

      <section class="thank-you">

          <div class="thank-you_container">

              <div class="thank-you_checked js_thank-you--anim1">
              <img src="./images/icon-check.png" alt="check">
              </div>

              <h2 class="js_thank-you--anim2">
                Спасибо за заявку! Совсем скоро
                мы с вами свяжемся
              </h2>
              <p class="js_thank-you--anim3">
                Если у вас есть вопрос, который не терпит
                отлагательств - вы можете связаться
                с нами сами по номеру <a href="tel:+7(919)812-71-74">+7 (919) 812-71-74</a> или
              </p>

              <ul>
                <li class="js_thank-you--anim4">
                    <a href="https://telegram.im/@smmclick_sd">
                      <!-- <div class="icon_telegram"></div> -->
                        <img src="./images/icon-telegram.png" alt="telegram">
                    </a>
                </li>
                <li class="js_thank-you--anim5">
                    <a href="https://wa.me/79198127174">
                      <!-- <div class="icon_whatsapp"></div> -->
                        <img src="./images/icon-whatsapp.png" alt="whatsapp">
                    </a>
                </li>
              </ul>

              <a href="./" class="btn "><span>
                Вернуться на главную
              </span>
                </a>

          </div>

      </section>