<body>
    <div class="wrapper-page js_thank-you">

      <section class="thank-you">

          <div class="thank-you_container">

              <div class="thank-you_checked">
                  <img src="./images/icon-check.png" alt="check">
              </div>

              <h2>
                Спасибо за заявку! Совсем скоро
                мы с вами свяжемся
              </h2>
              <p>
                Если у вас есть вопрос, который не терпит
                отлагательств - вы можете связаться
                с нами сами по номеру <a href="tel:+7(919)812-71-74">+7 (919) 812-71-74</a> или
              </p>

              <ul>
                <li>
                    <a href="#">
                        <img src="./images/icon-telegram.png" alt="telegram">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./images/icon-whatsapp.png" alt="whatsapp">
                    </a>
                </li>
              </ul>

              <a href="./" class="btn">Вернуться на главную
                </a>

          </div>

      </section>