.btn {
  width: 100%;
  display: block;
  border: 0;
  outline: 0;
  box-shadow: inset 0px -6px 1px 0px rgba(#953a0d, 1);
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #f26d2b;
  font-size: 20px;
  color: #fff;
  border-radius: 100px;
  transition: 0.3s ease;
  cursor: pointer;

  &:hover {
    box-shadow: none;
    background-color: darken(#f26d2b, 15%);
  }
}
