@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilory/Gilroy-Regular.eot");
  src: local("../fonts/gilory/Gilroy Regular"),
    local("../fonts/gilory/Gilroy-Regular"),
    url("../fonts/gilory/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/gilory/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/gilory/Gilroy-Regular.woff") format("woff"),
    url("../fonts/gilory/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilory/Gilroy-Bold.eot");
  src: local("../fonts/gilory/Gilroy Bold"),
    local("../fonts/gilory/Gilroy-Bold"),
    url("../fonts/gilory/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/gilory/Gilroy-Bold.woff2") format("woff2"),
    url("../fonts/gilory/Gilroy-Bold.woff") format("woff"),
    url("../fonts/gilory/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilory/Gilroy-Medium.eot");
  src: local("../fonts/gilory/Gilroy Medium"),
    local("../fonts/gilory/Gilroy-Medium"),
    url("../fonts/gilory/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/gilory/Gilroy-Medium.woff2") format("woff2"),
    url("../fonts/gilory/Gilroy-Medium.woff") format("woff"),
    url("../fonts/gilory/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

////////////////////////////////

@font-face {
  font-family: "TT Norms Pro";
  src: url("../fonts/norms/TTNormsPro-Regular.eot");
  src: local("../fonts/norms/TT Norms Pro Regular"),
    local("../fonts/norms/TTNormsPro-Regular"),
    url("../fonts/norms/TTNormsPro-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/norms/TTNormsPro-Regular.woff2") format("woff2"),
    url("../fonts/norms/TTNormsPro-Regular.woff") format("woff"),
    url("../fonts/norms/TTNormsPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
