.icon_whatsapp {
  width: 24px;
  height: 24px;
  background: url("../../images/css_sprites1.png") -359px -184px;
}

.icon_telegram {
    width: 24px;
    height: 20px;
    background: url("../../images/css_sprites1.png") -102px -106px;
  }
.logo {
  width: 133px;
  height: 76px;
  background: url("../../images/css_sprites1.png") -10px -10px;
}

.rocket {
  width: 34px;
  height: 104px;
  background: url("../../images/css_sprites1.png") -359px -10px;
}
 
.icon_check {
  width: 80px;
  height: 61px;
  background: url("../../images/css_sprites1.png") -259px -10px;
}

.icon_check_active {
  width: 30px;
  height: 30px;
  background: url("../../images/css_sprites1.png") -359px -134px;
}

.icon_facebook {
  width: 12px;
  height: 24px;
  background: url("../../images/css_sprites1.png") -102px -146px;
}

.icon_facebook_big {
  width: 68px;
  height: 66px;
  background: url("../../images/css_sprites1.png") -10px -212px;
}

.icon_instagram {
  width: 22px;
  height: 22px;
  background: url("../../images/css_sprites1.png") -359px -228px;
}

.icon_instagram_big {
  width: 60px;
  height: 60px;
  background: url("../../images/css_sprites1.png") -10px -298px;
}

.icon_money {
  width: 67px;
  height: 68px;
  background: url("../../images/css_sprites1.png") -259px -91px;
}

.icon_ok_big {
  width: 76px;
  height: 76px;
  background: url("../../images/css_sprites1.png") -163px -10px;
}

.icon_rocket {
  width: 72px;
  height: 86px;
  background: url("../../images/css_sprites1.png") -10px -106px;
}

.icon_target {
  width: 71px;
  height: 53px;
  background: url("../../images/css_sprites1.png") -98px -212px;
}

.icon_telegram {
  width: 24px;
  height: 20px;
  background: url("../../images/css_sprites1.png") -102px -106px;
}

.icon_vk {
  width: 23px;
  height: 13px;
  background: url("../../images/css_sprites1.png") -259px -179px;
}

.icon_vk_big {
  width: 76px;
  height: 76px;
  background: url("../../images/css_sprites1.png") -163px -106px;
}
