<section class="promotion-page page-inst" id="promotion">
    <div class="promotion-page_container container">
        <h2>
            Продвижение Instagram  
            <img src="./images/icon-instagram-big.png" alt="Instagram">
        </h2>

        <div class="promotion_slider js_promotion_slider">
            <div class="promotion_slider-item js_promotion_slider-item--1">
                <div class="promotion_slider-header">
                    <h3>
                        Оформление профиля
                    </h3>
                </div>

                <ul class="promotion_slider-main">
                    <li>
                        Миниатюра аватара
                    </li>
                    <li>
                        Продающее описание
                    </li>
                    <li>
                        Шаблоны постов для ленты
                    </li>
                    <li>
                        Обложки закрепленных Сторис (Highlights)
                    </li>
                </ul>
                <div class="promotion_slider-footer">
                    <p>
                        Срок исполнения: <span>
                            1-5 дней 
                        </span>
                    </p>
                   
                    <a href="#modal_recall" data-fancybox="" data-touch="false" class="order_recall btn">
                        Узнать подробнее
                    </a>
                </div>

            </div>
            <div class="promotion_slider-item js_promotion_slider-item--2">
                <div class="promotion_slider-header">
                    <h3>
                        Таргетированная реклама
                    </h3>
                </div>

                <ul class="promotion_slider-main">
                    <li>
                        Анализ ЦА
                    </li>
                    <li>
                        Анализ конкурентов
                    </li>
                    <li>
                        Сбор и сегментация ЦА
                    </li>
                    <li>
                        Создание рекламных материалов (обьявление и картинка)
                    </li>
                    <li>
                        Прохождение модерации.
                    </li>
                    <li>
                        Мониторинг РК
                    </li>
                    <li>
                        Оптимизация РК (Работы по удешевлению трафика)
                    </li>
                    <li>
                        Анализ РК
                    </li>
                    <li>
                        Отчет
                    </li>
                </ul>
                <div class="promotion_slider-footer">
                    <p>
                        Срок исполнения: <span>
                            30 дней
                        </span>
                    </p>
                   
                    <a href="#modal_recall" data-fancybox="" data-touch="false" class="order_recall btn">
                        Узнать подробнее
                    </a>
                </div>

            </div>
            <div class="promotion_slider-item js_promotion_slider-item--3">
                <div class="promotion_slider-header">
                    <h3>
                        Администрирование сообщества
                    </h3>
                </div>

                <ul class="promotion_slider-main">
                    <li>
                        Определение целевой аудитории
                    </li>
                    <li>
                        Изучение и анализ конкурентов.
                    </li>
                    <li>
                        Создание и согласование четкого контент-плана
                    </li>
                    <li>
                        Размещение оговоренного числа постов в сутки
                    </li>
                    <li>
                        Модерация, чистка от СПАМа
                    </li>
                    <li>
                        Обратная связь с подписчиками
                    </li>
                    <li>
                        Размещение оговоренного числа постов и Сторис в сутки
                    </li>

                </ul>
                <div class="promotion_slider-footer">
                    <p>
                        Срок исполнения: <span>
                            30 дней
                        </span>
                    </p>
                   
                    <a href="#modal_recall" data-fancybox="" data-touch="false" class="order_recall btn">
                        Узнать подробнее
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>